@page "{logoutId?}"
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}


<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <p>Would you like to logout of IdentityServer?</p>
        <form id="account" method="post">
            <input type="hidden" name="logoutId" value="@Model.LogoutId" />
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Yes</button>
            </div>

        </form>
    </div>
</div>
